.main_container{
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    width: 100vw;
}
/*CHECKOUT: Why gradient isn't showing up?*/
.gradient{
    position: absolute;
    left: 0;
    width: 100%;
    height: 520px;
    background: linear-gradient(180deg,#2e2e2e 0%,#121212 100%);
}

.main_page{
    display:flex;
    flex-direction: row;
    background: transparent;
    z-index: 1;
}


.main_content{
    flex: 5 1 auto;
    min-height: 100vh;
    color: #FFFFFF;
}

.footer{
    background-color: black;
    color: white;
    height: 10vh;
}