.home_page{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 5vh;
}
.home_slider{
    width: 70%;
    height: 50vh;
    box-shadow: 0 0 8px #0a0a0a;
}

.movie_card{
    appearance: none;
}
.moveiList_ul li{
    appearance: none;

}

.sort_button{
    width: 10%;
    border: none;
}   

.sort_button:hover{
    background-color: #CD242C !important;
}

.sort_buttons{
    display: flex;
    gap: 2%;
}

#sort_label h1{
    margin-bottom: 0px;
}