
#movie_header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* ---------------------------------- */
#movie_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

@media (min-width: 1681px) {
    .movie_container {
        height: 600px;
    }
}

@media (min-width: 1241px) {
    .movie_container {
        border-radius:4px 4px 0 0;
        overflow: hidden;
    }
}

@media (min-width: 641px) and (max-width:1680px) {
    .movie_container {
        height:400px
    }
}

@media (max-width: 640px) {
    .movie_container {
        height:310px
    }
}

.movie_foreground {
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    padding-bottom: 1%;
}

@media (min-width: 1681px) {
    .movie_foreground {
        width:1240px
    }
}

@media (min-width: 1241px) and (max-width:1680px) {
    .movie_foreground {
        width:848px
    }
}

@media (min-width: 1241px) {
    .movie_foreground {
        padding-left:24px;
        padding-right: 24px
    }
}

@media (max-width: 1240px) {
    .movie_foreground {
        padding-left:16px;
        padding-right: 16px
    }
}

.movie_poster {
    width: 160px;
    height: 240px;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #0a0a0a
}

@media (min-width: 641px) {
    .movie_poster {
        margin-right:24px
    }
}

@media (max-width: 640px) {
    .movie_poster {
        width:102px;
        height: auto;
        margin-right: 12px
    }
}

.movie_wrapper {
    flex-grow: 1
}

.movie_heading {
    margin-top: 0;
    margin-bottom: 0;
    font-family: montserrat;
    font-weight: 500;
    color: #fff
}

@media (min-width: 641px) {
    .movie_heading {
        font-size:32px;
        line-height: 1.25
    }
}

@media (max-width: 640px) {
    .movie_heading {
        font-size:21px;
        line-height: 1.5
    }
}

.movie_details {
    display: flex;
    align-items: center;
    margin-top: 8px
}

.movie_details .rating {
    color: #dedede
}

.movie_duration {
    margin-left: 8px;
    font-family: montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #dedede
}

.movie_pipe {
    margin-left: 8px;
    font-family: montserrat;
    font-size: 12px;
    color: #dedede
}

.movie_release-date {
    margin-left: 8px;
    font-family: montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #dedede
}

.movie_scrim{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg,rgba(18,18,18,0) 0%,#11191f 100%);
    z-index: 1;
}

.audience-review .my-account-profile-header {
    align-items: flex-start;
}

.audience-review .my-account-profile-header-delete button {
    border: none;
    background-color: #cd242c;
}

.audience-review .my-account-profile-header-delete button span {
    /* font-size: 0.75rem; */
    font-weight: 600;
    text-transform: uppercase;
}

#audience-review-dialog article {
    width: 700px;
    padding-top: 40px;
}

#audience-review-dialog article h2 {
    margin-bottom: 20px;
}

#audience-review-dialog-form input {
    background-color: #11191f;
}

.dialog-form-cancel {
    background-color: transparent!important;
}

.dialog-form-submit {
    background-color: var(--contrast)!important;
}

.dialog-form-submit {
    background-color: #cd242c!important;
}

#audience-review-dialog-form fieldset {
    font-size: 16px;
    margin-bottom: 0px;
}

.audience-review-dialog-form-label-checkbox {
    display: flex;
    align-items: center;
}

#audience-review-dialog-form textarea {
    font-size: 0.9rem;
    margin-bottom: 0;
}