.card_body{
    width:200px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 48px;
    padding-left: 0px;
}

.card_image{
    height: 250px;
    width: 150px;
    border-radius: 2%;
    aspect-ratio: auto 156 / 231;
    box-shadow: 0 0 8px #0a0a0a;
}

.card_title{
    padding: 10px 10px 10px 0px;
    appearance: none;

}

.card_detail{
    display: flex;
    font-size: 12px;
    width: 150px;
    justify-content: flex-start;
}

.card_rated{
    margin: 5px;
    margin-left: 0px;
    color: #999999;
}

.card_runtime{
    margin: 5px;
    color: #999999;
}